body {
    background-color: black;
}
.space {
    position: absolute;
    background-image: url("https://stepik.org/media/attachments/lesson/452681/space.png");
    left: 15%;
    right: 15%;
    height: 100vmin;
}

.planet {
    position: absolute;
    width: 500px;
    bottom: 0;
    z-index: 1;
}

.rocket {
    width: 250px;
    transform: rotate(27deg);
    position: absolute;
    bottom: 240px;
    left: 240px;
    z-index: 0;
}

.control-panel {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 20px;
    background: repeating-linear-gradient(
            45deg,
            #f5f512,
            #f5f512 20px,
            #000000 20px,
            #000000 40px
    );
}

.control-panel__inner {
    text-align: center;
    background-color: black;
    width: fit-content;
    margin: auto;
    padding: 10px;
}

.levers {
    display: flex;
    justify-content: space-around;
    height: 150px;
}

.check-buttons {
    display: flex;
    justify-content: space-around;
    height: 20px;
    margin-top: 10px;
}

.check-buttons input[type="checkbox"] {
}

.levers input[type="range"] {
    transform: rotate(270deg);
}

input[name="confirm"] {
    background-color: yellow;
    border-radius: 10px;
}

input[name="password"] {
    background-color: black;
    color: yellow;
    border-color: yellow;
    border-radius: 5px;
}
input[name="start"] {
    background-color: red;
    color: yellow;
    border-color: yellow;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    font-size: 2em;
}

form { text-align: center; }